<div class="row vertical-center">
  <div class="col-md-12">
    <div class="error-template">
      <h1>
        Oops!</h1>
      <h2>
        404 Not Found</h2>
      <div class="error-details">
        Sorry, an error has occured, Requested page not found!
      </div>
      <div class="error-actions">
        <a href="/home" class="btn btn-primary btn-lg">
          <mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon>
          Take Me Home </a><a href="mailto:support@ezassi.com" class="btn btn-secondary btn-lg">
        <mat-icon aria-hidden="false" aria-label="send icon">send</mat-icon>
        Contact Support </a>
      </div>
    </div>
  </div>
</div>
